.gates_cover {
	padding-left: 66px;
	padding-top: 32px;
}

.gate {
	cursor: move;
	width: 67px;
}

input.x-form-invalid {
	background-color: #FFFFFF;
	border-color: #CB9494;
	background-image: url(/images/invalid-text-bg.gif);
	background-position: 0px 0px;
}
